/* .user {
    width: 100px;
    height: 150px;
    background: linear-gradient(30deg, rgb(124, 123, 123), rgb(44, 44, 44));
}
    
.user-name {
    color: white;
    transition: all 0.5s;
}
    
.user-name:hover {
    transform: scale(1.2);
} */